<div class="container">
  <div class="jumbotron">
    <h1>Debit Card</h1>

    <h2>...Secure online Payment solution.</h2>
    <a href="/customer/new" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>