<form action="/customer/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">Create an account</h2>
	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="first name" name="first_name">
	</div>

    <div class="control-group">
	<input type="text" class="form-control" placeholder="last name" name="last_name">
	</div>

	<div class="control-group">
	<input type="text" class="form-control" placeholder="email address" name="email">
	</div>

    <div class="control-group">
	<input type="text" class="form-control" placeholder="Address" name="address">
	</div>

	<div class="control-group">
	<input type="Date" class="form-control" placeholder="Date of Birth" name="password" id="birth_date">
	</div>

    <div class="control-group">
	<input type="password" class="form-control" placeholder="password" name="password" id="password">
	</div>

	<div class="control-group">
	<input type="password" class="form-control" placeholder="password confirmation" name="confirmation">
	<br />
	</div>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>